extends layout

block content
    h1= title
    - let items=results;
        - let destination2 = `dispatch(\"/customer/create")`
        button.btn( class="btn-success m1-1" onclick= destination2) Create
    div.container-fluid
        div(class="row m-1")
            each item,ind in items
                - let destination = `dispatch(\"/customer/update?id=${item._id}\")`
                div(class="row-sm-2", class="m-1")
                    p Name  is #{item.Cust_Name}
                    p Age  is #{item.Cust_Age}
                    p Mail_Id: #{item.Mail_Id}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
                    button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/customer/delete?id=${item._id}\")`) Delete
                    button.btn( class="btn-primary ml-1", onclick= `dispatch(\"/customer/detail?id=${item._id}\")`) Details
    script. 
        function dispatch(path){
            window.location.href=path
        }